@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
	<form action="/produto/novo" method="post">
		<h1>Cadastro de produto</h1>
		<label for="titulo">Título</label>
		<input type="text" name="titulo" id="titulo">
		<label for="codigo">Código único</label>
		<input type="text" name="codigo" id="codigo">
		<label for="tipo">Tipo</label>
		<input type="text" name="tipo" id="tipo">
		<label for="descricao">Descrição</label>
		<textarea name="descricao" id="descricao"></textarea>
		<label for="preco">Preço</label>
		<input type="number" name="preco" id="preco">
		<input type="submit" value="Cadastrar">
		
	</form>
}
